@import url(./reset.css);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #d5e1ef;
  overflow: hidden;
}
html {
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
  background-color: #d5e1ef;
}

.container {
  width: 20.625rem;
  height: 33.125rem;
  background-color: white;
  margin: 0 auto;
  display: grid;
  padding: 1.25rem;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 1.25rem;
  box-shadow: 0.125rem 0.125rem 0.625rem #b4b3b3;
}

.container img {
  grid-row: 1;
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}

.container h1 {
  padding: 1.25rem 0 0.625rem;
  color: #212d41;

  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
}

.container p {
  padding-top: 1.25rem;
  font-size: 1.25rem;
  color: #9ea2a7;

  text-align: center;
}

@media (max-width: 330px) {
  body {
    margin: 0 auto;
    display: grid;
    place-items: center;
  }
}
